body{
	height: 100vh;
	background: linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 80%, rgba(0,212,255,1) 100%);
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.headerBrand{
	color: white;
}

.headerBrand span{
	color: rgb(52, 152, 219);
}

.headerBrand{
	float: left;
	width: 40vw;
}

.headerNav{
	float: right;
	display: inline;
	width: 40vw;
	padding-top: 6vh;
}

.headerNav li{
	display: inline;
	font-size: 1.2em;
	padding-right: 20px;
}

.headerNav a{
	color: white;
	text-decoration: none;
}

.bodyContainer{
	float: right;
}

.bodyContentTop, .bodyContentBottom{
	width: 50vw;
	height: 35vh;
	border: solid white;
}

.sideBarContainer{
	width: 30vw;
	height: 80vh;
	float: left;
	clear: left;
	border: solid white;
}

/*#main-content-container{
	width: 75vw;
	margin: 0 auto;
}*/